/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #ffffff;
  font-family: "Barlow", sans-serif;
}

/* HERO */
.hero {
  min-height: 100vh;
  position: relative;
  overflow: hidden;

  /* BACKGROUND IMAGE */
  background-image: url("/assets/iteration-1/home-banner.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
/* LOGO */
.text-logo {
  position: absolute;
  top: 20px;
  left: 20px;

  font-family: "Londrina Solid", cursive;
  font-size: 50px;
  font-weight: 400;
  line-height: 50px;
  color: #ffffff;
}

/* HERO CONTENT */
.hero-content {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.subtitle {
  font-family: "Satisfy", cursive;
  font-size: 16px;
  margin-bottom: 12px;
  color:#fdc913;
}

.hero-title {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.15;
  margin-bottom: 32px;
}

.hero-button {
  background: #fcbf49;
  color: #000;
  border: none;
  padding: 14px 40px;
  border-radius: 30px;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
}

/* PIZZA */
.pizza {
  position: absolute;
  bottom: -120px;
  left: 50%;
  transform: translateX(-50%);
  width: 520px;
  max-width: 90%;
}

/* CATEGORIES */
.categories {
  display: flex;
  justify-content: center;
  gap: 40px;
  padding: 40px 0;
  background: #ffffff;
}

.category {
  font-weight: 600;
  font-size: 14px;
  color: #333;
  display: flex;
  align-items: center;
  gap: 6px;
}
